tr.interested > td {
    background-color: #D3D6FF !important;
}

.multivote-toolbar > .aui-toolbar .toolbar-group {
    margin: 0;
}

.multivote-toolbar > .toolbar-split > .toolbar-group {
    margin-bottom: 0;
}

.multivote-toolbar > .toolbar-split {
    margin-left: 0;
}

table.multivoteTable {
    margin-top: 0;
}

.multivote-toolbar .toolbar-item > a.toolbar-trigger:link,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:visited,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:hover,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:focus,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:active {
    height: 20px;
    line-height: 20px;
}

.multivote-toolbar .toolbar-item > a.toolbar-trigger:link,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:visited,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:hover,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:focus,
.multivote-toolbar .toolbar-item > a.toolbar-trigger:active {
    height: 20px;
    line-height: 20px;
    position: static;
}

.multivote-csv-dialog {
    width: 100%;
    height: 99%;
}

.multivote-csv-dialog > textarea {
    width: 100%;
    height: 80%;
}

.multivoteAudienceColumn {
    display: none;
}
